# Created by venv; see https://docs.python.org/3/library/venv.html
/web server/webserver.db
/images/.DS_Store
__pycache__
webserver.db

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
